<% provide(:page_title, 'Implicit') %>

<div class="well">
    <h1>Implicit</h1>

    <p>In this method the token is directly received without the need of an ntermediate authorization code. Intended for client side applications which are not able to keep their client id and secret safe.</p>
    <p><b>URL : </b><%= StalkyRails::Application::API_ENDPOINT %></p>

    <h3>Parameters</h3>
    <div class="well">
    </div>
    <br>
</div>
